html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
}

.game-wrapper {
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-wrapper iframe {
  width: 800px;
  height: 620px;
  border: none;
}
